<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<style>
    .header {
        color: rgba(0,0,0,0.6);
        text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
        font-size: 26px;
        margin-left: 6%; // зачем если все равно обнуляете в конце?
    text-align: center;
    top: 1111px;
        right: 1000px;
        text-decoration: none;
        margin: 0;
        padding-top: 16px; // может это вам надо?
    }
</style>
</head>
<body>
<!-- Выравнивание с помощью тега center -->
<div style=""><center>текст по центру</center></div>

<!-- Выравнивание с помощью CSS -->
<div class="col-lg-11">
    <div style="position:relative; top:300px ;" align="center">CR</div>
</div>
</html>
