<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>color</title>
    <style>
        .letter {
            color: red; /* Цвет символа */
            font-size: 200%; /* Размер шрифта */
        }
        p {
            color: rgb(49, 151, 116); /* Цвет текста */
        }
    </style>
</head>
<body>
<p><span class="letter">L</span>orem ipsum dolor
    sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt
    ut lacreet dolore magna aliguam erat volutpat.</p>
<p><span class="letter">U</span>t wisis enim ad
    minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl
    ut aliquip ex ea commodo consequat.</p>
</body>
</html>